.next/
packages/
static/

node_modules
export
build
mui

# *.md
*.txt
*.ico
*.jpg
*.png
*.gif
*.svg
*.pdf
*.lock
*.json
*.log
*.opts
LICENSE
_headers
_redirects

.editorconfig
.eslintignore
.flowconfig
.gitignore
.gitmodules
.prettierignore
