.main-view {
  padding-top: 40px;
}
.main-view h1 {
  color: #e9e9e9;
  font-weight: 500;
  letter-spacing: 0.004em;
}

.btn-group .btn {
  display: inline-block;
  width: 100px;
  height: 60px;
  border: 2px solid #e9e9e9;
  border-radius: 60px;
  margin: 0 12px;
  color: #e9e9e9;
  line-height: 60px;
  text-decoration: none;
  transition: 0.1s;
}
.btn-group .btn:hover, .btn-group .btn.active {
  color: #2d2d2d;
  background-color: #e9e9e9;
}
